<template>
  <div class="current-track">
    <div class="song-title">{{ song.title }}</div>
    <a class="song-artist" @click="displayMore(song.artist)">{{
      song.artist
    }}</a>
  </div>
</template>
<script>
export default {
  props: ["song"],
  methods: {
    displayMore(artist) {
      console.log("title");
      console.log(artist);
      this.$router.push({ name: "PlayerMusicInfo", params: { artist } });
    }
  }
};
</script>
<style scoped>
.current-track {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 20vh;
}
.song-title {
  width: 100vw;
  text-align: center;
  font-size: 2.4rem;
}
.song-artist {
  width: 100vw;
  text-align: center;
  font-size: 1.4rem;
  padding: 5px 0;
}
</style>
