<template>
  <v-container>
    <v-card :loading="loading" class="mx-auto my-12">
      <v-img height="300" v-bind:src="artistInfo.cover"></v-img>

      <v-card-title>{{ artistInfo.artist }}</v-card-title>

      <v-card-text>
        <div class="my-4 subtitle-1">
          Singer / Performer
        </div>

        <div>
          {{ artistInfo.bio }}
        </div>
      </v-card-text>
      <v-card-actions>
        <v-btn color="deep-purple lighten-2" text @click="back">
          Back
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>
<script>
import songs from "../mocks/songs";
export default {
  data: () => ({
    loading: false,
    selection: 1,
    artistInfo: {}
  }),
  created() {
    console.log("hello");
    let { artist } = this.$route.params;
    this.artistInfo = songs.find(song => song.artist == artist);
    console.log(this.artistInfo);
  },
  methods: {
    back() {
      this.$router.push("/");
    }
  }
};
</script>
<style lang="scss" scoped></style>
