<template>
  <div id="player">
    <PlayerMusicTitle v-bind:song="current" />
    <PlayerAnimation v-bind:songCover="current.cover" />
    <div class="controls">
      <v-btn class="mx-2 prev" fab dark @click="prev" v-if="songs.length > 1"
        ><v-icon>
          mdi-skip-backward
        </v-icon></v-btn
      >
      <v-btn class="mx-2 play" fab large v-if="!isPlaying" @click="play"
        ><v-icon>mdi-play</v-icon></v-btn
      >
      <v-btn class="pause mx-2" fab large v-else @click="pause"
        ><v-icon>mdi-pause</v-icon></v-btn
      >
      <v-btn class="mx-2 next" fab dark @click="next"
        ><v-icon>
          mdi-skip-forward
        </v-icon></v-btn
      >
      <v-btn
        class="mx-2 next"
        v-if="current.isFavourite"
        fab
        small
        dark
        color="pink"
        @click="favourite"
        ><v-icon>mdi-heart</v-icon>
      </v-btn>
      <v-btn
        class="mx-2 next"
        v-if="!current.isFavourite"
        fab
        small
        color="white"
        @click="favourite"
        ><v-icon>mdi-heart</v-icon>
      </v-btn>
    </div>
    <div class="progress" style="min-height: 4px">
      <KProgress
        :show-text="false"
        class="progress-bar-wrapper"
        v-bind:percent="current.percent"
        :color="['#df83f1', '#82279f', '#53cfe0']"
      />
    </div>
    <div class="timer">
      <p class="duration">{{ currentlyTimer }} / {{ current.totalTimer }}</p>
    </div>
    <section class="playlist">
      <h3>The Playlist</h3>
      <v-text-field v-model="search" label="song or atrist"></v-text-field>
      <v-btn
        v-for="song in filteredList"
        :key="song.src"
        @click="play(song)"
        :class="song.src == current.src ? 'song playing' : 'song'"
      >
        {{ song.title }} - {{ song.artist }}
        <v-icon v-if="song.isFavourite">mdi-heart</v-icon>
      </v-btn>
    </section>
  </div>
</template>

<script>
import PlayerMusicTitle from "./PlayerMusicTitle";
import PlayerAnimation from "./PlayerAnimation";
import KProgress from "k-progress";
import { formatTimer } from "../helpers/timer";
import { threatSongs, shuffleArray } from "../helpers/utils";
import songs from "../mocks/songs";

export default {
  name: "Player",
  data() {
    return {
      current: {},
      coverObject: { cover: true, animated: false },
      index: 0,
      isPlaying: false,
      currentlyTimer: "00:00",
      songs: shuffleArray(songs),
      search: "",
      player: new Audio()
    };
  },
  methods: {
    favourite() {
      this.current.isFavourite = !this.current.isFavourite;
    },
    listenersWhenPlay() {
      this.player.addEventListener("timeupdate", () => {
        var playerTimer = this.player.currentTime;

        this.currentlyTimer = formatTimer(playerTimer);
        this.current.percent = (playerTimer * 100) / this.current.seconds;
        this.current.isPlaying = true;
      });
      this.player.addEventListener(
        "ended",
        function() {
          this.next();
        }.bind(this)
      );
    },
    setCover() {
      this.coverObject.animated = true;

      setTimeout(() => {
        this.coverObject.animated = false;
      }, 1000);
    },
    setCurrentSong() {
      this.current = this.songs[this.index];
      this.play(this.current);
      this.setCover();
    },
    play(song) {
      if (typeof song.src !== "undefined") {
        this.current.isPlaying = false;
        this.index = this.songs.indexOf(this.current);
        this.current = song;
        this.player.src = this.current.src;
      }

      this.player.play();
      this.isPlaying = true;

      this.setCover();
      this.listenersWhenPlay();
    },
    pause() {
      this.player.pause();
      this.isPlaying = false;
    },
    next() {
      this.current.isPlaying = false;
      this.index = this.songs.indexOf(this.current);
      this.index++;
      if (this.index > this.songs.length - 1) {
        this.index = 0;
      }
      this.setCurrentSong();
    },
    prev() {
      this.current.isPlaying = false;
      this.index = this.songs.indexOf(this.current);
      this.index--;
      if (this.index < 0) {
        this.index = this.songs.length - 1;
      }
      this.setCurrentSong();
    }
  },
  components: {
    KProgress,
    PlayerMusicTitle,
    PlayerAnimation
  },
  mounted() {
    this.songs = threatSongs(this.songs);
    this.current = this.songs[this.index];
    this.player.src = this.current.src;
  },
  computed: {
    filteredList() {
      return this.songs.filter(s => {
        if (this.search.length == 0) return this.songs;
        else
          return (
            s.artist.toLowerCase().includes(this.search.toLowerCase()) ||
            s.title.toLowerCase().includes(this.search.toLowerCase())
          );
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#player {
  width: 100vw;
  min-height: 100vh;
  background-color: #e0e5ec;
}
.duration {
  text-align: center;
}
.progress {
  margin-left: 20px;
  width: 100%;
}
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 15px;
}
button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}
.play,
.pause {
  font-size: 20px;
  font-weight: 700;
  padding: 15px 25px;
  margin: 0px 15px;
  border-radius: 50%;
  color: #fff;
  background-color: #cc2e5d;
}
.next,
.prev {
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px;
  margin: 0px 15px;
  border-radius: 50%;
  color: #fff;
  background-color: #ff5858;
}
.playlist {
  padding: 0px 30px;
}
.playlist h3 {
  color: #212121;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 30px;
  text-align: center;
}
.playlist .song {
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
.playlist .song:hover {
  color: #ff5858;
}
.playlist .song.playing {
  color: #fff;
  background-image: linear-gradient(to right, #cc2e5d, #ff5858);
}
</style>
