<template>
  <v-card height="330" :class="{ playlist }">
    <v-list>
      <v-list-tile
        v-for="(track, index) in playlist"
        :key="track.title"
        v-show="track.display"
        :class="[
          { selected: track === selectedTrack },
          { even: index % 2 == 0 }
        ]"
      >
        <v-list-tile-content
          @click="selectTrack(track)"
          @dblclick="playTrack()"
        >
          <v-list-tile-title
            >{{ index | numbers }} {{ track.artist }} -
            {{ track.title }}</v-list-tile-title
          >
        </v-list-tile-content>
        <v-spacer></v-spacer>
        {{ track.howl.duration() | minutes }}
      </v-list-tile>
    </v-list>
  </v-card>
</template>
<script>
import songs from "../mocks/songs";
import { shuffleArray } from "../helpers/utils";
export default {
  data() {
    return { songs: shuffleArray(songs) };
  },
  props: {
    playlist: [],
    selectedTrack: {}
  },
  methods: {
    selectTrack(track) {
      this.$emit("selecttrack", track);
    },
    playTrack(index) {
      this.$emit("playtrack", index);
    }
  }
};
</script>
<style lang="scss" scoped>
.playlist {
  padding: 0px 30px;
}
.playlist h3 {
  color: #212121;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 30px;
  text-align: center;
}
.playlist .song {
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
.playlist .song:hover {
  color: #ff5858;
}
.playlist .song.playing {
  color: #fff;
  background-image: linear-gradient(to right, #cc2e5d, #ff5858);
}
</style>
